.demo-logo-vertical{
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 700;
  font-family: cursive;
}

.ant-layout-content{
  min-height: calc(100vh - 155px);
}